nav{
    margin-bottom:20px;
}
.input{
    max-width: 1000px;
    width:40vw;
}
.search-bar{
    position: absolute;
    left: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-div{
    position:absolute;
    bottom:-20px;
    left:0;
    right:0;
    padding:0;
    margin:0;
    background:rgb(206, 206, 206);
    font-size:16px;
    font-weight:bolder;
}
.nav-categories{
    margin:0 5vw;
    color:rgb(27, 27, 27);
}
.categories-container{
    margin:0 auto;
}
.card-container{
    font-size: 10px;
    line-height:15px;
    margin:5px;
    border-radius:10px;
    background: -moz-linear-gradient(top, rgba(243,248,253,1) 0%, rgba(250,252,254,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(243,248,253,1) 0%,rgba(250,252,254,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(243,248,253,1) 0%,rgba(250,252,254,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f8fd', endColorstr='#00fafcfe',GradientType=0 ); /* IE6-9 */
}